#title{
    padding-bottom: 72px;
}

.title__text{
    font-size: 64px;
    line-height: 110%;
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;
}

.title__wrapper{
    position: relative;
}

.title__img{
    position: absolute;
    top: -50px;
    right: 50px;
}

@media (max-width: 919px) {
    .title__text{
        font-size: 55px;
    }
}

@media (max-width: 860px){
    .title__text{
        font-size: 52px;
    }
} 

@media (max-width: 806px){
    .title__text{
        font-size: 49px;
    }
} 

@media (max-width: 775px){
    .title__text{
        font-size: 47px;
    }
}

@media (max-width: 562px){
    .title__text{
        font-size: 36px;
    }
    .title__img {
        right: -10px;
    }
}

@media (max-width: 424px){
    .title__img {
        width: 90px;
    }
}

@media (max-width: 374px){
    .title__img {
        right: -70px;
    }
}